@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background-color: #0a0a0a;
  color: white;

}

.gradient-color {
  background: linear-gradient(135deg, #225bc5 0%, #367cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:root {
  --radius: 0.625rem;
    --background: oklch(0.145 0 0);
  --foreground: #1b1b1b;
  --primary: #151515;
  --border: #373737;
  --muted-foreground: oklch(0.556 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --border: #373737;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}


@layer components {
  .editor-prose {
    @apply text-white/80;
    @apply leading-6;
  }

  .editor-prose h1 {
    @apply text-4xl font-extrabold text-white mt-4 mb-2;
  }

  .editor-prose h2 {
    @apply text-3xl font-bold text-white mt-3 mb-2;
  }

  .editor-prose h3 {
    @apply text-2xl font-semibold text-white mt-2 mb-2;
  }

  .editor-prose ul {
    @apply list-disc pl-6 my-2;
  }

  .editor-prose ol {
    @apply list-decimal pl-6 my-2;
  }

  .editor-prose li {
    @apply my-1;
  }

  .editor-prose blockquote {
    @apply border-l-4 border-white/40 pl-4 italic text-white/50 my-4;
  }

  .editor-prose strong {
    @apply font-bold text-white;
  }

  .editor-prose hr{
    @apply border-b-1 border-white/50 my-4;
  }

  .editor-prose code {
    @apply bg-gray-800 text-gray-200 px-1.5 py-0.5 rounded text-sm font-mono;
  }

  .editor-prose pre {
    @apply bg-gray-900 text-white p-4 rounded-lg overflow-x-auto my-4;
  }

  .editor-prose pre code {
    @apply bg-transparent p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  
}

@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}